*.class

# Package Files #
*.jar
*.war
*.ear

# Forge and vanilla #
/MCP/bin/*
/MCP/conf/*
/MCP/docs/*
/MCP/eclipse/*
/MCP/forge/*
/MCP/jars/*
/MCP/lib/*
/MCP/logs/*
/MCP/modsrc/*
/MCP/reobf/*
/MCP/runtime/*
/MCP/temp/*

/MCP/src/minecraft/*
/MCP/src/minecraft_server/*
/src/common/*
!/src/common/leoverto/
!/src/common/mcmod.info
!/src/common/SP.png

*.bat
*.sh